.depend
*.o
hping3
*.swp
Makefile

*~
.deps/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
Makefile.in
stamp-h1
